.cart{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cart-content{
    padding-top: 20px;
    display: flex;
}

.page-title{
    display: flex;
    align-items: center;
}

.page-title h2{
    margin-left: 15px;
}

.cart-item-container{
    width: 60%;
}

.cart-right{
    width: 40%;
}